body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 350px;
    background-color: #bb1333;
    padding: 1%;
    border-radius: 2%;
}


.operator-btn div{
  display: flex;
  flex-direction: column;
}

.opsBtn{
  margin: 4%;

}

/*this is the child*/
.specBtn, .numBtn, .opsBtn{
   height: 50px;
    width: 45px;
    background-color: #0c3c78;
    margin: 4%;
    border-radius: 7px;
    color: white;
}





/*this is the parent*/
.number-btn{
  /* width: 60%; */

}





.logo{
  padding: 2%;
  border-radius: 5%;
}



.App{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80%;
}

.both{
  width: 70%;
  margin-left: 4%;
}
.only1{
  margin-right: 4%;
  padding: 5%;
}












/*display parent*/
.displayParent{
  display: flex;
  justify-content: center;
  
}
.display {
  border: 2px solid #55596d;
  height: 70px;
  width: 90%;
  border-radius: 15px;
  margin-bottom: 2%;
  background-color: white;
}




